<div>
  <h1><%= @patient.name %></h1>

    <div>
      <%= @patient.birth %><br>
      <%= @patient.address %><br>
      <%= @patient.insurance %><br>
      <%= @patient.insurance_number %><br>
    </div>

    <% @patient.appointments.each do |appointment| %>
      <div>
        <%= appointment.title %>
        <%= appointment.occurs_at %>
        <%= appointment.notes %>
      </div>
    <% end %>

    <% @patient.medications.each do |medication| %>
      <div>
        <%= medication.name %>
        <%= medication.dosage %>
      </div>
    <% end %>
</div>
<%= link_to "Voltar para lista de pacientes", caregiver_patients_path, class: "btn btn-link" %>

<div class="row">
<h2>Chats</h2>

<% @chats.each do |chat| %>
  <li style="display:flex; gap:8px; align-items:center;">
    <%= link_to chat.title, caregiver_chat_path(chat) %>

    <% if chat.user == current_user %>
      <%= button_to "Excluir",
                    caregiver_chat_path(chat),
                    method: :delete,
                    class: "btn btn-sm btn-outline-danger",
                    form: { style: "display:inline-block;" },
                    data: { turbo: false },
                    onclick: "return confirm('Tem certeza que deseja excluir este chat?');" %>
    <% end %>
  </li>
<% end %>
  </ul>

<%= button_to "New chat",
              caregiver_patient_chats_path(@patient),
              class: "btn btn-primary" %>
</div>
