<div>
  <h1><% @patient.name %></h1>


    <% @patient.appointments.each do |appointment| %>
      <div>
        <%= appointment.title %>
        <%= appointment.occurs_at %>
        <%= appointment.notes %>
      </div>
    <% end %>

    <% @patient.medications.each do |medication| %>
      <div>
        <%= medication.name %>
        <%= medication.dosage %>
      </div>
    <% end %>
</div>
<%= link_to "Voltar para lista de pacientes", caregiver_patients_path, class: "btn btn-link" %>
