<%= link_to "Voltar para lista de pacientes", patients_path, class: "btn btn-link" %>
<%= link_to "Editar", edit_patient_path(@patient), class: "btn btn-sm btn-outline-primary" %>

<div>
  <h1><%= @patient.name %></h1>

    <%# <% @patient.each do |patient| %>
      <div>
        <%= @patient.birth %><br>
        <%= @patient.address %><br>
        <%= @patient.insurance %><br>
        <%= @patient.insurance_number %><br>
      </div>

    <% @patient.appointments.each do |appointment| %>
      <div>
        <%= appointment.title %>
        <%= appointment.occurs_at %>
        <%= appointment.specialty %>
        <%= appointment.notes %>

        <%= link_to "Editar",
        edit_patient_appointment_path(@patient, appointment),
        class: "btn btn-sm btn-outline-primary" %>

        <%= link_to "Excluir",
        patient_appointment_path(@patient, appointment),
        data: { turbo_method: :delete, turbo_confirm: "Excluir consulta?" },
        class: "btn btn-danger btn-sm" %>
      </div>
    <% end %>

    <% @patient.medications.each do |medication| %>
      <div>
        <%= medication.name %>
        <%= medication.dosage %>

        <%= link_to "Editar",
        edit_patient_medication_path(@patient, medication),
        class: "btn btn-sm btn-outline-primary" %>

        <%= link_to "Excluir",
      patient_medication_path(@patient, medication),
      data: { turbo_method: :delete, turbo_confirm: "Excluir medicamento?" },
      class: "btn btn-danger btn-sm" %>
      </div>
    <% end %>
</div>

 <!-- Botão de editar (placeholder por enquanto) -->

<br>
<div data-controller="toggle-display">
  <div class="btn btn-primary" data-action="click->toggle-display#toggle">
    Adicionar medicamento
  </div>

  <%= simple_form_for [@patient, @medication], html: {class: "d-none", data: {toggle_display_target: "form"}} do |f| %>
    <%= f.input :name %>
    <%= f.input :dosage %>
    <%= f.submit %>
  <% end %>
</div>
<br><br>
<div data-controller="toggle-display">
  <div class="btn btn-primary" data-action="click->toggle-display#toggle">
    Adicionar Consulta
  </div>

  <%= simple_form_for [@patient, @appointment], html: {class: "d-none", data: {toggle_display_target: "form"}} do |f| %>
    <%= f.input :title %>
    <%= f.input :occurs_at %>
    <%= f.input :specialty %>
    <%= f.input :notes %>
    <%= f.submit %>
  <% end %>
</div>


<br><br>
<h3>Vincular cuidador</h3>

<%= simple_form_for [@patient, @care] do |f| %>
  <%= f.input :caregiver_id,
    collection: @caregivers,
    label: "Caregiver",
    label_method: ->(c) { c.user.email },
    value_method: :id %>

  <%= f.submit "Vincular", class: "btn btn-outline-primary" %>
<% end %>

<h3>Cuidadores deste paciente</h3>
<% @patient.cares.includes(caregiver: :user).each do |care| %>
  <div>
    <%= care.caregiver.user.email %>

    <%= link_to "Remover",
      patient_care_path(@patient, care),
      data: { turbo_method: :delete, turbo_confirm: "Remover este cuidador?" },
      class: "btn btn-sm btn-outline-danger" %>
  </div>
<% end %>

<div class="row">
<h2>Chats</h2>
<% if @patient.chats.where(user: current_user).any? %>
  <ul>
  <% @chats.each do |chat| %>
    <li style="display:flex; gap:8px; align-items:center;">
      <%= link_to chat.title, chat_path(chat) %>

      <%= button_to "Excluir",
                    patient_chat_path(@patient, chat),
                    method: :delete,
                    class: "btn btn-sm btn-outline-danger",
                    form: { style: "display:inline-block;" },
                    data: { turbo: false },
                    onclick: "return confirm('Tem certeza que deseja excluir este chat?');" %>
    </li>
  <% end %>
</ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
    <%= button_to "New chat", patient_chats_path(@patient), class: "btn btn-primary" %>
  </div>
</div>
