<%= link_to "Voltar para lista de pacientes", patients_path, class: "btn btn-link" %>
<%= link_to "Editar", edit_patient_path(@patient), class: "btn btn-sm btn-outline-primary" %>

<div>
  <h1><%= @patient.name %></h1>

    <%# <% @patient.each do |patient| %>
      <div>
        <%= @patient.name %><br>
        <%= @patient.birth %><br>
        <%= @patient.address %><br>
        <%= @patient.insurance %><br>
        <%= @patient.insurance_number %><br>
      </div>

    <% @patient.appointments.each do |appointment| %>
      <div>
        <%= appointment.title %>
        <%= appointment.occurs_at %>
        <%= appointment.specialty %>
        <%= appointment.notes %>
      </div>
    <% end %>

    <% @patient.medications.each do |medication| %>
      <div>
        <%= medication.name %>
        <%= medication.dosage %>
      </div>
    <% end %>
</div>

 <!-- Botão de editar (placeholder por enquanto) -->

<br>
<div data-controller="toggle-display">
  <div class="btn btn-primary" data-action="click->toggle-display#toggle">
    Adicionar medicamento
  </div>

  <%= simple_form_for [@patient, @medication], html: {class: "d-none", data: {toggle_display_target: "form"}} do |f| %>
    <%= f.input :name %>
    <%= f.input :dosage %>
    <%= f.submit %>
  <% end %>
</div>
<br><br>
<div data-controller="toggle-display">
  <div class="btn btn-primary" data-action="click->toggle-display#toggle">
    Adicionar Consulta
  </div>

  <%= simple_form_for [@patient, @appointment], html: {class: "d-none", data: {toggle_display_target: "form"}} do |f| %>
    <%= f.input :title %>
    <%= f.input :occurs_at %>
    <%= f.input :specialty %>
    <%= f.input :notes %>
    <%= f.submit %>
  <% end %>
</div>


<br><br>
<%= simple_form_for [@patient, @cares] do |f| %>
  <%= f.input :caregiver, collection: Caregiver.all, label_method: ->(c) { c.user.email } %>
  <%= f.submit %>
<% end %>
<%= link_to "Voltar para lista de pacientes", patients_path, class: "btn btn-link" %>

<div class="row">
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @chats.any? %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
    <%= button_to "New chat", patient_chats_path(@patient), class: "btn btn-primary" %>
  </div>
</div>
